<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark,
         phone, address, user_name, consignee, cancel_reason, rejection_reason, cancel_time, estimated_delivery_time,
         delivery_status, delivery_time, pack_amount, tableware_number, tableware_status)
        values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{payStatus},
                #{amount}, #{remark}, #{phone}, #{address}, #{userName}, #{consignee}, #{cancelReason},
                #{rejectionReason},
                #{cancelTime}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{deliveryTime}, #{packAmount},
                #{tablewareNumber},
                #{tablewareStatus})

    </insert>
    <update id="update" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
            <if test="lastReminderTime !=null">
                last_reminder_time = #{lastReminderTime}
            </if>
        </set>
        where id = #{id}
    </update>


    <!-- 定义结果映射 -->
    <resultMap id="OrderVOResultMap" type="com.sky.vo.OrderVO">
        <id column="id" property="id"/>
        <result column="order_number" property="number"/>  <!-- 映射订单号 -->
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="address_book_id" property="addressBookId"/>
        <result column="order_time" property="orderTime"/>
        <result column="checkout_time" property="checkoutTime"/>
        <result column="pay_method" property="payMethod"/>
        <result column="pay_status" property="payStatus"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="user_name" property="userName"/>
        <result column="consignee" property="consignee"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="rejection_reason" property="rejectionReason"/>
        <result column="cancel_time" property="cancelTime"/>
        <result column="estimated_delivery_time" property="estimatedDeliveryTime"/>
        <result column="delivery_status" property="deliveryStatus"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="pack_amount" property="packAmount"/>
        <result column="tableware_number" property="tablewareNumber"/>
        <result column="tableware_status" property="tablewareStatus"/>

        <!-- 处理 order_detail 表的数据 -->
        <collection property="orderDetailList" ofType="com.sky.entity.OrderDetail">
            <id column="od_id" property="id"/>
            <result column="order_id" property="orderId"/>
            <result column="dish_id" property="dishId"/>
            <result column="setmeal_id" property="setmealId"/>
            <result column="dish_flavor" property="dishFlavor"/>
            <result column="od_name" property="name"/>
            <result column="image" property="image"/>
            <result column="od_number" property="number"/>  <!-- 映射订单详情中的数量 -->
            <result column="od_amount" property="amount"/>
        </collection>
    </resultMap>
    <!-- 分页查询 -->
    <select id="pageQuery" resultMap="OrderVOResultMap">
        SELECT
        o.id,
        o.number AS order_number,  <!-- 使用别名 order_number 表示订单号 -->
        o.status,
        o.user_id,
        o.address_book_id,
        o.order_time,
        o.checkout_time,
        o.pay_method,
        o.pay_status,
        o.amount,
        o.remark,
        o.phone,
        o.address,
        o.user_name,
        o.consignee,
        o.cancel_reason,
        o.rejection_reason,
        o.cancel_time,
        o.estimated_delivery_time,
        o.delivery_status,
        o.delivery_time,
        o.pack_amount,
        o.tableware_number,
        o.tableware_status,
        od.id AS od_id,
        od.order_id,
        od.dish_id,
        od.setmeal_id,
        od.dish_flavor,
        od.name AS od_name,
        od.image,
        od.number AS od_number,  <!-- 使用别名 od_number 表示订单详情中的数量 -->
        od.amount AS od_amount
        FROM
        orders o
        LEFT JOIN
        order_detail od ON o.id = od.order_id
        <where>
            <if test="userId!=null">
                and o.user_id = #{userId}
            </if>
            <if test="status != null">
                and o.status = #{status}
            </if>
        </where>
        ORDER BY
        o.order_time DESC
    </select>

    <select id="pageQuery2" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="number != null and number!=''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>

    <select id="getStatistics" resultType="com.sky.vo.OrderStatisticsVO">
        select sum(case when status = 2 then 1 else 0 end) as toBeConfirmed,
               sum(case when status = 3 then 1 else 0 end) as confirmed,
               sum(case when status = 4 then 1 else 0 end) as deliveryInProgress
        from orders
    </select>
    <select id="sumMap" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="sumTurnoverByDate" resultType="java.util.Map">
        SELECT
            DATE(order_time) as date,
            SUM(amount) as turnover
        FROM
            orders
        WHERE
            order_time BETWEEN #{begin} AND #{end}
          AND status = #{status}
        GROUP BY
            DATE(order_time)
    </select>


</mapper>
